html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color2: #ffffff;
  --secondary-background-color: #f5f5f5;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --general-transition-duration: 250ms;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: var(--accent-color2);
  color: var(--primary-title-color);
}

/* Page-header */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  background-color: transparent;
  color: #000000;
}

.logo span {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
/* Menu nav - contact-nav */
.menu-nav .link:hover,
.menu-nav .link:focus,
.contact-nav a:hover,
.contact-nav a:focus {
  color: var(--accent-color);
  background-color: transparent;
}

.contact-nav a:hover,
.contact-nav a:focus {
  fill: var(--accent-color);
  background-color: transparent;
}

.menu-nav .link,
.contact-nav a,
.logo {
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--transition-timing-function);
}
.contact-nav a {
  color: var(--primary-text-color);
}

.contact-nav a:hover .smartphone-icon {
  transition: fill 250ms var(--transition-timing-function);
}
.contact-nav a :hover .envelope-icon {
  transition: fill 250ms var(--transition-timing-function);
}

.header {
  display: flex;
  align-items: center;
}
.menu-nav .link,
.contact-nav .link {
  display: block;
}

.menu-nav {
  display: flex;
  margin-left: 93px;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.active-page {
  position: relative;
}

.active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 56px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  color: var(--accent-color);
}

.menu-nav .item + .item {
  margin-left: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.smartphone-icon,
.envelope-icon {
  display: inline-block;
  margin-right: 10px;
  color: rgb(117, 117, 117);
}

/* Hero */
.hero {
  height: 600px;
  max-width: 1600px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--accent-color2);
  margin: 0;
  padding-top: 200px;
  padding-bottom: 30px;
}
.hero-button {
  display: inline-block;
  min-width: 216px;
  color: var(--accent-color2);
  background-color: var(--accent-color);
  line-height: 1.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px 32px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity var(--general-transition-duration)
    var(--transition-timing-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--general-transition-duration)
    var(--transition-timing-function);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}
.modal-button:hover,
.modal-button:focus {
  cursor: pointer;
}
.modal-button:hover .button-icon {
  fill: var(--accent-color);
}

.button-icon {
  color: #000000;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

.modal-form {
  padding: 0;
  width: 528px;
  height: 581px;
  color: rgba(255, 255, 255, 1);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-timing-function);
}
.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: 0;
}
.modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}
.modal-label {
  display: flex;
  color: #757575;
}

.input-line {
  position: relative;
  width: 448px;
  height: 58px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.modal-icon {
  position: absolute;
  top: 30px;
  left: 12px;
  display: inline-block;
  transition: fill 250ms var(--transition-timing-function);
}
.modal-icon:hover {
  fill: var(--accent-color);
}
.modal-textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgb(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--transition-timing-function);
}

.modal-textarea::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.textarea-line {
  width: 448px;
  height: 138px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.agreement {
  margin: 20px 40px 30px 40px;
}
.icon-check {
  fill: transparent;
  border: 1px solid var(--primary-title-color);
  transition: fill 250ms var(--transition-timing-function);
}
.icon-check:hover {
  fill: var(--accent-color);
  stroke: var(--accent-color2);
  border: none;
}
.agreement-line {
  color: var(--primary-text-color);
}
.agreement-line2 {
  color: var(--accent-color);
}
.customer-submit {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin-right: 164px;
  margin-left: 164px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;

  background-color: var(--accent-color);
  color: var(--accent-color2);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px (0, 0, 0, 0.15);
}
.customer-submit {
  cursor: pointer;
}
/*Features*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding-left: 0px;
}
.features-box {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features-icon {
  display: inline-block;
  margin: 25px 100px;
}

/* What do we do  */

.our-work {
  padding-top: 0px;
}
.gallery-set {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-between;
  margin: 0;
}
.item {
  flex-direction: row;
  text-align: center;
}

.thumb-work {
  position: relative;
  overflow: hidden;
}
.label {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
/* .card::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  /* background-image: url("../images/icon-antenna.svg"); */
/* }

.icon-antenna::before {
  background-image: url("../images/icon-antenna.svg");
}
.icon-watch::before {
  background-image: url("../images/icon-watch.svg");
}
.icon-computer::before {
  background-image: url("../images/icon-computer.svg");
}
.icon-astronaut::before {
  background-image: url("../images/icon-astronaut.svg");
}  */
/* Our team */
.our-team {
  background-color: #f5f5f5;
}
.team {
  background-color: #f5f5f5;
  /* padding-top: 94px;
  padding-bottom: 94px; */
}
.team-list {
  display: flex;
  padding-left: 0px;
  justify-content: space-around;
  list-style: none;
}
.team-list > li {
  background-color: var(--accent-color2);
  border-radius: 4px;
  margin-left: 30px;
}
.section-title1,
.section-title2,
.section-title3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.section-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}
.member-info {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
  margin: 0px;
  margin-bottom: 30px;
}
.team-list {
  margin: 0px;
}
li.team-item {
  border-radius: 0, 0, 4px, 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0px;
  margin-left: 0px;
}

.team-item:not(:first-child) {
  padding: 0px;
  margin-left: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 0;
}
.social-item {
  margin-right: 10px;
}

.social-link:hover {
  background-color: var(--accent-color);
  fill: var(--accent-color2);
}
.social-item .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  transition: background-color 250ms var(--transition-timing-function),
    fill 250ms var(--transition-timing-function);
}

.social-item:last-child {
  margin-right: 0;
}
.social-icon {
  fill: #afb1b8;
}

.social-icon:hover {
  color: var(--accent-color2);
  fill: var(--accent-color2);
}
.social-link:hover .social-icon {
  color: var(--accent-color2);
  fill: var(--accent-color2);
  transition: fill 250ms var(--transition-timing-function);
}

/* Our customers */
.our-customers {
  background-color: var(--accent-color2);
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  padding-left: 0px;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.customer-item {
  /* width: 170px;
  height: 92px; */
}

.customer-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  transition: color var(--general-transition-duration)
      var(--transition-timing-function),
    border var(--general-transition-duration) var(--transition-timing-function);
}
.customer-link:hover {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color2);
}

.customer-link:hover .customer-icon {
  fill: var(--accent-color);
  transition: fill var(--general-transition-duration)
    var(--transition-timing-function);
}
.customer-icon:hover,
.customer-icon:focus {
  fill: var(--accent-color);
}

.customer-icon {
  margin: 16px 32px;
  fill: #afb1b8;
}

.footer {
  background-color: #2f303a;
  color: var(--accent-color2);
  margin: 0;
}
.container.footer {
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  font-style: normal;
}
.address > a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  margin-bottom: 9px;
}

span.studio {
  color: var(--accent-color2);
}
a {
  color: var(--accent-color2);
}

.address-info {
  padding-top: 60px;
}
.join-us.box {
  margin-top: 72px;
  margin-bottom: 100px;
  margin-left: 70px;
}
.join-us .list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  padding-left: 0;
}
.footer-icons {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: #f5f5f510;
  border-radius: 50%;
}

.footer-icon {
  display: flex;
  margin: 12px;
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: #2196f3;
}

.footer-icons:hover .footer-icon {
  transition: fill var(--general-transition-duration)
    var(--transition-timing-function);
}

.subscribe-form {
  margin-top: 72px;
  margin-bottom: 94px;
  margin-left: 93px;
}
.subscribe-buttons {
  display: flex;
  align-items: flex-end;
}
.mail-field {
  width: 358px;
  height: 50px;
  background-color: inherit;
  margin-top: 20px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.subscribe-button {
  display: flex;
  padding: 10px 28px;
  background-color: var(--accent-color);
  color: var(--accent-color2);
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
}
.subscribe-span {
  margin-right: 10px;
}
.icon-send {
  fill: var(--accent-color2);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

/* Portfolio
Filter */

.filter-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin: 0;
}
.filter-list {
  list-style: none;
  display: block;
  text-align: center;
}

.filter-list + .filter-list {
  margin-left: 8px;
}

.filter-button {
  border: 0;
  color: var(--primary-title-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color 250ms var(--transition-timing-function);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--accent-color2);
  background-color: var(--accent-color);
}

.main-potrfolio {
  display: block;
}
.projects-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-set {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms var(--transition-timing-function);
}

.project-set:hover {
  border: 1px solid EEEEEE;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 1.6),
    0px 4px 4px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 1.2);
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-title-color);
  margin-top: 20px;
  margin: 0px;
}

.project {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text-color);
  margin-top: 4px;
  margin-bottom: 0px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
  text-align: left;
}

.project-name {
  margin-top: 4px;
}

.project-case:hover .text {
  opacity: 1;
  transform: translateY(0%);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 3%;
  padding: 63px 24px;
  margin: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--accent-color2);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--transition-timing-function),
    opacity 250ms var(--transition-timing-function);
}
