html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: var(--accent-color2);
  color: var(--primary-title-color);
}
h1,
h2,
p,
.list {
  margin: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.02;
  color: #404040;
  text-align: center;
  margin-top: 117px;
  margin-bottom: 123px;
}

.section-info {
  display: flex;
  align-items: flex-start;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
}
.item {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin-right: 30px;
  margin-bottom: 5px;
  color: #999999;
}

.item::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  top: 25px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #999999;
  color: #999999;
}

.settings-nav .link {
  text-decoration: none;
  color: #999999;
  text-align: left;
}
.settings-nav .link:hover {
  color: #2468ff;
  cursor: pointer;
}

/* .link:hover .item::after {
  background-color: #2468ff;
  color: #2468ff;
} */
.feedback-info {
  font-family: Roboto;
  font-weight: 400;
  color: #404040;
  text-align: left;
  margin-right: 88px;
  margin-bottom: 117px;
  margin-left: 80px;
}
.feedback {
  font-size: 36px;
  line-height: 1.44;
  margin-top: 36px;
  margin-bottom: 28px;
}

.family-name,
.family-address {
  font-size: 18px;
  line-height: 1.4;
  color: #646565;
}
.family-name {
  margin-bottom: 14px;
}
.family-address {
  margin-bottom: 30px;
}

.shop-button {
  background-color: #2468ff;
  color: #ffffff;
  padding: 17px 37px 21px 37px;
  border-color: transparent;
  margin-bottom: 94px;
}
.presection-2 {
  text-align: center;
}
.presection-2 .section-title {
  margin-bottom: 35px;
}
.section-text {
  font-size: 18px;
  line-height: 1.4;
  color: #404040;
  margin-bottom: 44px;
}
.help-button {
  margin-bottom: 94px;
  background-color: #2468ff;
  color: #ffffff;
  padding: 17px 66px 21px 66px;
  border-color: transparent;
}
.benefits-list {
  display: flex;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  justify-content: center;
  margin-bottom: 121px;
}

.benefits-link {
  text-decoration: none;
  color: #404040;
}
.benefits-link:hover {
  color: #2468ff;
}
.benefits-link:hover .benefits-icon {
  fill: #2468ff;
  stroke: #2468ff;
}
.benefits-icon {
  /* display: flex; */
  margin-right: 18px;
  margin-left: 50px;
  fill: #404040;
  stroke: #404040;
}

.last-section {
  height: 480px;
  min-width: 1440px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #f7f7f7;
  background-image: url(../images/family2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-title3 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  align-items: center;
  color: #ffffff;
  margin: 0;
  padding-top: 111px;
  padding-right: 422px;
  padding-left: 422px;
}

.hero-button {
  display: inline-block;
  background-color: #2468ff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 17px 37px 21px 37px;
  border: transparent;
  margin-top: 83px;
}
